.hide {
	display: none !important;
}
.flex {
	display: flex !important;
}

.overflow {
	overflow: hidden;
}

h1,
h2,
h3,
h4 {
	font-family: var(--font1);
	line-height: 1em;
	color: #fff;
	margin: 0;
}

.section-title {
	font-size: 35px;
	color: var(--primary);
	margin-bottom: 30px;

	@media screen and (max-width: 768px) {
		font-size: 35px;
	}
}
p {
	line-height: 1.4em;
}

.bg-white {
	background-color: #fff;
}
.bg-blue {
	background-color: var(--dark);
}
.txt-white {
	color: #fff;
}

.small {
	font-family: var(--font1);
	font-size: 20px;
	margin: 0;
}

.button {
	display: inline-block;
	font-family: var(--font2);
	font-weight: 700;
	font-size: 16px;
	color: rgb(255, 255, 255);
	border-radius: 0;
	padding: 12px 30px;
	position: relative;
	text-transform: uppercase;
	cursor: pointer;

	@include skew-minus;
	@include transition;

	span {
		display: inline-block;
		@include skew-plus;
	}

	&.primary {
		background-color: var(--primary);
		border: none;

		&:hover {
			background-color: var(--p-hover);
		}
	}

	&.outline {
		background-color: transparent;
		border: 1px solid var(--primary);

		&:hover {
			background-color: var(--primary);
		}
	}
} // button

a.link {
	text-decoration: underline;
	font-style: italic;
	// color: var(--primary);
}

//back to top button
.back-to-top {
	background: none;
	display: none;
	margin: 0;
	position: fixed;
	bottom: 150px;
	right: 23px;
	width: 35px;
	height: 35px;
	z-index: 100;
	text-decoration: none;
	color: #fff;
	opacity: 0.5;
	background-color: rgba(9, 9, 9, 0.6);
	border-radius: 60px;
	-ms-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	i {
		font-size: 38px;
		position: relative;
		left: -1.5px;
		top: -1.5px;
	}

	&:hover {
		opacity: 1;
	}
}
