:root {
	--primary: #ff0066;
	--p-hover: #ce172d;
	--dark: #091425;

	--font1: "rift-soft", sans-serif;
	--font2: "Quicksand", sans-serif;
}

@mixin img($width) {
	width: 100%;
	max-width: $width;
	margin: 0 auto;
}

@mixin transition {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

@mixin skew-minus {
	-webkit-transform: skew(-22deg);
	-moz-transform: skew(-22deg);
	-ms-transform: skew(-22deg);
	transform: skew(-22deg);
}

@mixin skew-plus {
	-webkit-transform: skew(22deg);
	-moz-transform: skew(22deg);
	-ms-transform: skew(22deg);
	transform: skew(22deg);
}
